body {
    font-family: var(--primary-font);
    color: var(--primary-color-slate, #434455);
    background-color: var(--background-color-white);
    
}
:root {
    --primary-font: "Roboto", sans-serif;
    --primary-color-slate: #434455;
    --background-color-white: #FFFFFF;
    --primary-text-color: #2E2F42;
    --active-text-color: #404BBF;
    --color-logo: #4d5ae5;
    --backgroung-color-onesect:  #2e2f42;
    --color-text-onesect:  #FFFFFF;
    --color-text-footer: #F4F4FD;
    --cornflower: #E7E9FC;
}
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
	margin-bottom: 0;
}

ul {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
}
img {
    display: block;
    max-width: 100%;
}
main {
    flex-grow: 1;
}
.container {
    margin: 0 auto;
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    }
  
 

.list{
    list-style: none;
}

/*-------------------HEADER--------------------*/
header .container {
    display: flex;
    justify-content: space-between;
    }
    .nav {
        display: flex;
    align-items: center;
    } 
    header {
        border-bottom: 1px solid var(--cornflower, #E7E9FC);
    }
  
    .nav .list {
        display: flex;
        gap: 40px;
        width: 261px;
        align-items: flex-start;
        
    }
    .nav .list .link {
        padding: 24px 0; 
    }
    .nav .list .link:hover {
        display: flex;
        border-bottom: 2px solid var(--active-text-color);
        gap: 20px;
    }
     .contacts  {
        display: flex;
        align-items: center;
    }
    .contacts .list {
        display: flex;
        gap: 40px;
    }
    
    
    .main-page .list .link {
        font-family: var(--primary-font);
        color: var(--primary-text-color);
        text-decoration: none;
        text-transform: none;
        font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    }
    .logo {
        font-family: "Raleway", sans-serif;
        color: var(--color-logo);
        font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing:  0.03em;
    text-transform: uppercase;
    text-decoration: none;
    width: 115px;
    height: 24px;
    margin-right: 76px;
    align-items: center;
    display: flex;
    
    
    
    }
    .main-page .logo-studio {
        color: var( --primary-text-color);
    
    }
    
    .list .link:focus,
    .list .link:hover {
        color: var(--active-text-color);
    }
    
    .contacts {
        font-style: normal;
    }
    .contacts .list .link {
        font-family: var(--primary-font);
        color: var(--primary-color-slate);
        text-transform: none;
        font-weight: 400;
        font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    }
    .contacts .list .link:focus,
    .contacts .list .link:hover {
        color: var(--active-text-color);
    }
/*----------------------------------HERO-----------------------*/
.section-hero {
    background-color: var(--backgroung-color-onesect);
    text-align: center;
    font-family: "Roboto", sans-serif;
    padding: 188px 0;
}
.page-title {
    font-family: "Roboto", sans-serif;
    font-size: 56px;
    letter-spacing: 0.02em;
    line-height: 1.07;
    color: var(--color-text-onesect);
    text-align: center;
    max-width: 496px;
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 48px;
    

}
.section-hero .button {
    color:#FFF;
    cursor: pointer;
background: var(--color-logo);
font-family: "Roboto", sans-serif;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
margin: 0 auto;
display: block;
padding: 16px 32px;
border-radius: 4px;
background: var(--color-logo);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
min-width: 169px;
height: 56px;
border: none;
}
.section-hero .button:hover,
.section-hero .button:focus {
    color: var(--background-color-white);
    background-color: var(--active-text-color);
}

/*---------------------------------------SECTION OFFER----------------------------*/

.section-offer  {
    padding: 120px 0;
}

.section-offer .list {
    display: flex;
    gap: 24px;
}
.section-offer .list .item {
    flex-basis: calc((1128px - 72px) / 4);
}
.section-offer  .title {
    color: var(--primary-text-color);
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}
.section-offer .title-text{
    color: var(--primary-color-slate);
    font-family: var(--primary-font);
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}

/*----------------------------------------SECTION DOING--------------------------*/

.section-doing {
    padding-bottom: 120px;
}
.section-doing .section-title {
    color: var(--primary-text-color);
    text-align: center;
font-family: var(--primary-font);
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
margin-bottom: 72px;
}
.section-doing .list {
    display: flex;
    gap: 24px;
}
.section-doing .list .item {
    flex-basis: calc((100% - 48px) / 3);
}

/*------------------------------------------SECTION TEAM---------------------------*/


.section-title-team {
    background-color: var(--color-text-footer);
    padding-top: 120px;
    padding-bottom: 120px;
}
.section-title-team .title-team {
    color: var(--primary-text-color);
    text-align: center;
font-family: var(--primary-font);
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
margin-bottom: 72px;
}
.section-team-item {
    background-color: var(--background-color-white);
    flex-basis: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}
.section-title-team .title {
    color: var(--primary-text-color);
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}
.section-title-team .title-text {
    color: var (--primary-color-slate);
    font-family: var(--primary-font);
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
}
.section-title-team .list {
    display: flex;
    gap: 24px;
}
.cower-team {
    padding: 32px 0;
}


/*------------------------------------------FOOTER-------------------------*/

.footer {
    background-color: var(--backgroung-color-onesect);
    padding: 100px 0;
    
}
.footer .link {
    font-family: "Raleway", sans-serif;
    color: var(--color-logo);
    font-size: 18px;
font-weight: 800;
line-height: 1.17;
letter-spacing:  0.03em;
text-transform: uppercase;
text-decoration: none;
margin-bottom: 16px;
width: 115px;
display: inline-block;
}
.footer .container {
    box-sizing: content-box;
    text-align: left;
}

.footer .logo-studio-footer {
    color: var(--color-text-footer);
    
}
.footer .title-text {
    color: var(--color-text-footer);
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-size: 16px;
    width: 264px;
}


/*-------------------------------------PAGE PORTFOLIO--------------------*/


.section-portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
}
.section-portfolio .filter  {
    display: flex;
    gap: 24px;
    margin-bottom: 72px;
    justify-content: center;

}

.list .button {
    cursor: pointer;
    color: var(--color-logo);
   background-color: var(--color-text-footer);
   text-align: center;
   cursor: pointer;
font-family: var(--primary-font);
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.64px;
border-radius: 4px;
border: 1px solid var(--cornflower, #E7E9FC);
padding: 12px 24px;
}
.list .button:focus,
.list .button:hover {
    color: var(--color-text-onesect);
    background: var(--active-text-color);
    text-align: center;
    border: 1px solid transparent;
}
.section-portfolio .portfolio {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
    flex-shrink: 0;
    
}
 .portfolio .card {
    border: 1px solid var(--cornflower, #E7E9FC);
    padding: 32px 16px;
    border-top: none;
}
.section-portfolio .portfolio .item {
    flex-basis: calc((100% - 48px) / 3);
}

.section-portfolio .list .title {
    color: var(--primary-text-color);
    font-family: "Roboto", sans-serif;
    text-transform: none;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em; 
    margin-bottom: 8px;
}
.section-portfolio .list .title-text {
    color: var(--primary-color-slate);
    font-family: var(--primary-font);
    text-transform: none;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}